body {
  background-color: black;
  color: green;
  font-family: 'AppleIIPro', monospace;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#interaction-container {
  display: grid;
  grid-template-rows: auto 1fr; /* Allocate space for input and then as much space as possible for messages */
  height: calc(100% - 20px); /* Adjust height based on padding */
  gap: 10px; /* Optional: Adds some space between your input and messages */
}

#input-container {
  display: flex;
  align-items: center;
}

#prompt {
  color: green;
  margin-right: 5px;
  font-family: 'AppleIIPro', monospace;
}

#userInput {
  flex-grow: 1;
  font-family: 'AppleIIPro', monospace;
  color: green;
  background-color: black;
  border: none;
  outline: none;
  font-size: 16px; /* Adjust the font size as needed */
}

#messageContainer {
  overflow-y: auto;
  display: flex;
  flex-direction: column; /* Ensure messages are added from top to bottom */
}

.user-message, .response-message {
  margin: 4px 0;
  padding: 4px;
  word-break: break-word;
  border-radius: 4px;
}

.user-message {
  background-color: #008001; /* Green background for user messages */
  color: black; /* Black text for contrast */
  align-self: flex-end; /* Align to the right */
}

.response-message {
  background-color: black; /* Keeps the terminal look */
  color: #008001; /* Green text for responses */
  align-self: flex-start; /* Align to the left */
}
