body {
  background-color: black;
  color: green;
  font-family: 'AppleIIPro', monospace;
  padding: 10px;
  margin: 0;
}

#interaction-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#prompt {
  color: green;
  font-family: 'AppleIIPro', monospace;
  margin-right: 5px;
}

#userInput {
  flex-grow: 1;
  color: green;
  background: black;
  border: none;
  outline: none;
  font-family: 'AppleIIPro', monospace;
}

#messageContainer {
    display: flex;
    flex-direction: column-reverse; /* Adjust this to column if reversing JS append logic */
    overflow-y: auto;
    /* Add your height or other styling here */
}

.user-message,
.response-message {
  padding: 5px;
  margin: 2px 0;
  word-break: break-word;
}

.user-message {
  text-align: right;
  background-color: green;
  color: black;
  border-radius: 5px;
  align-self: flex-end;
}

.response-message {
  text-align: left;
  background-color: black;
  color: green;
  border-radius: 5px;
  align-self: flex-start;
}